.gallery-about {
     margin-bottom: 120px;

     &__container {
     }

     &__top {
          display: flex;
          align-items: center;
          justify-content: space-between;
          column-gap: 32px;
     }

     &__title {
     }

     &__arrows {
     }

     &__arrow {
     }

     &__arrow-prev {
     }

     &__arrow-next {
     }

     &__slider {
     }

     &__swiper-wrapper {
     }

     &__slide {
     }

     &__image {
          position: relative;
          padding-bottom: 64.8%;
          img {
               position:absolute;
               width:100%;
               height:100%;
               top:0;
               left:0;
               object-fit: cover;
          }
     }
}
