.education__vendors {
     .vendors__title {
          font-size: 48px;
          line-height: 129%;
     }
}

.education__variety {
     background-color: transparent;
     .variety-equipment__text-info {
          margin-bottom: 0;
     }
}