
.project-equipment {
     background-color: var(--BackgroundGray);
     padding-bottom: 0.1px;

     .content-tabs-help__title {
          color: var(--mainColor);
     }

     &__container {
     }
}
